.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rprofile

/.quarto/
_content/
_freeze/
_omit/
omit/
notes/
_notes/
homework/key

*.RData
*.rdb
*.rdx

/data/gng
/data/symmspan
champ_all_waves_ten.csv
champ_all_waves_ten.Rds
symmspan_long.csv
symmspan_long.Rds
